<h2 id="title">Welcome to Ember.js</h2>
{{#expander-on-focus class="normal"}}
  <h2>
    Click here to expand
  </h2>
  <p class="force-shrink cursor-pointer">
    Click <span class="cursor-pointer">here</span> or outside the shaded area to shrink
  </p>
  <p>
    This is just another paragraph
  </p>
{{/expander-on-focus}}

{{outlet}}
