<h2 id="title">Welcome to Ember.js</h2>
{{#expander-on-focus}}
  <h2>
    Click here to expand
  </h2>
  <p class="force-shrink">
    Click me to shrink
  </p>
  <p>
    This is just another paragraph
  </p>
{{/expander-on-focus}}

{{outlet}}
